<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>drezdins gate</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <link rel="stylesheet" href="/assets/main.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-05PKGNWD7Y"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-05PKGNWD7Y');
  </script>
</head>
<body>
  <div id="content">
    <div id="header"><!-- // --></div>
    <div id="welcome">
      <img id="logo" src="/images/drezdin.png" />
  


    <!-- socials-->
    <div id="socials" class="clearfix">
    <ul>
    {{ range $name, $social := .socials }}
      <li>
        <div>
          <a href="{{ $social.Url }}" target="_blank">
          {{ $social.Icon }}
          </a>
        </div>
      </li>
    {{ end }}
    </ul>
    <!-- socials end -->
    </div>

    <div class="kick-embed-wrapper">
      <iframe
        src="https://player.kick.com/drezdin"
        allowfullscreen
        allow="autoplay; encrypted-media; picture-in-picture"
      ></iframe>
  </div>

</div>
</body>
</html>
