<!DOCTYPE html>
<html lang="en">
<head>
  <title>drezdins gate</title>
  \
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="drezdin" />
  <meta name="description" content="h4x0r/streamer/gamer" />
    
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="drezdin">
  <meta name="twitter:description" content="Welcome to my site. This is a site you can find various resources for drezdin.">

  <meta property="og:url" content="https://drezdin.com/">
  <meta property="og:site_name" content="drezdin">
  <meta property="og:title" content="drezdin">
  <meta property="og:description" content="Welcome to my  site. This is a site you can find various resouces for drezdin.">
  <meta property="og:locale" content="en_us">
  <meta property="og:type" content="website">
  <!-- The preview image -->
<meta property="og:image" content="https://many.ninja/images/zen.jpg" />
<meta property="og:image:width" content="526" />
<meta property="og:image:height" content="789" />

<!-- Optional but recommended for Twitter/X -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://many.ninja/images/zen.jpg" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <link rel="stylesheet" href="/assets/main.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-05PKGNWD7Y"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-05PKGNWD7Y');
  </script>
</head>
<body>
  <div id="content">
    <div id="header"><!-- // --></div>
    <div id="welcome">
      <img id="logo" src="/images/drezdin.png" />
  


    <!-- socials-->
    <div id="socials" class="clearfix">
    <ul>
    {{ range $name, $social := .socials }}
      <li>
        <div>
          <a href="{{ $social.Url }}" target="_blank">
          {{ $social.Icon }}
          </a>
        </div>
      </li>
    {{ end }}
    </ul>
    <!-- socials end -->
    </div>

    <div class="kick-embed-wrapper">
      <iframe
        src="https://player.kick.com/drezdin"
        allowfullscreen
        allow="autoplay; encrypted-media; picture-in-picture"
      ></iframe>
  </div>

</div>
</body>
</html>
