body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;

}
#terminal {
  width: 100%;
  height: 100%;
}
#content {
  background-image: url("/static/gate.png");
  text-align: center;
}
#header {
}
#welcome {
  margin: 0 auto;
}

#welcome img {
  mix-blend-mode: multiply; /* or screen, lighten, darken */
  filter: brightness(1.2) contrast(1.5);
}

ul.inline-list {
  list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
  overflow: hidden; /* contain floats */
}

ul.inline-list li {
  float: left; /* float items left */
  margin-right: 10px; /* optional spacing */
  text-decoration: none; /* remove text decoration if links inside */
}

ul.inline-list li a {
  text-decoration: none; /* remove underline from links */
  color: black; /* optional: set link color */
}

