body, html {
  margin: 0;
  padding: 0;
  height: 100%;
    background:
    radial-gradient(circle at center,
      #0c3b43 0%,
      #071b22 35%,
      #04090c 60%,
      #020305 100%);

}
#terminal {
  width: 100%;
  height: 100%;
}
#content {
  text-align: center;
}
#header {
}
#welcome {
  margin: 0 auto;
  width: 800px;
  height: auto;
  aspect-ratio: auto;        /* let natural ratio win */
  background-image: url("/images/zen.jpg");
  background-size: 100% auto; /* width scales, height follows ratio */
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 1200px;

}

#logo {
  width: 800px;
  aspect-ratio: auto;

}
#socials {
  padding:5px;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;

}
#socials > ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
#socials > ul > li {
  float:left;
}
#socials > ul > li > div {
  padding: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.kick-embed-wrapper {
  margin: 50px;
}

#welcome img {
  mix-blend-mode: lighten;

  filter: brightness(1.2) contrast(1.5);
}

ul.inline-list {
  list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
  overflow: hidden; /* contain floats */
}

ul.inline-list li {
  float: left; /* float items left */
  margin-right: 10px; /* optional spacing */
  text-decoration: none; /* remove text decoration if links inside */
}

ul.inline-list li a {
  padding 10px;
  text-decoration: none; /* remove underline from links */
  color: black; /* optional: set link color */
}

.blur-link:hover {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: rgba(51, 51, 51, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  transition: backdrop-filter 0.3s ease;
  backdrop-filter: blur(0px);
}

.icon {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin-top: -0.125em;
  color: #FFF;
}

.currentcolor {
  color: #fff;
}
